:root {
  --primary-theme: #F04A23;
  --second-theme: #EAEAEA;
  --dark-primary-theme: #6d4e2f;
  --soft-primary-theme: #ffaa55;
  --dark-blue: #0b1854;
  --blue: #00A5E8;
  --indigo: #2d1582;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #de4437;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #00c9a7;
  --cyan: #00dffc;
  --white: #fff;
  --gray: #8c98a4;
  --gray-dark: #343a40;
  --primary: #00A5E8;
  --secondary: #77838f;
  --success: #00c9a7;
  --info: #00dffc;
  --warning: #ffc107;
  --danger: #de4437;
  --light: #f8f9fa;
  --dark: #1e2022;
  --indigo: #2d1582;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: "Kanit", Helvetica, Arial, sans-serif;
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

body {
  font-family: var(--font-family-sans-serif);
  color: var(--primary-theme);
}

a#langMenu #pagesSubMenu {
  min-width: 230px;
}

main div.position-relative {
  padding-left: 0;
  padding-right: 0;
}
main ol.breadcrumb li.breadcrumb-item a {
  color: rgba(0, 0, 0, 0.5);
}
main ol.breadcrumb li.breadcrumb-item:last-child a {
  color: var(--primary-theme);
}
main .news-relate-title {
  color: var(--gray-dark);
  font-size: 1rem;
}

.course-box .u-slick__pagination li span {
  background-color: var(--white);
}
.course-box .u-slick__pagination li.slick-active span {
  border-color: var(--white);
}

#rec-course div.row,
#pop-course div.row,
#month-course div.row {
  background-color: var(--second-theme);
}
#rec-course small.text-black-70 > span,
#pop-course small.text-black-70 > span,
#month-course small.text-black-70 > span {
  cursor: pointer;
}

#rec-course1 #calendar {
  height: 100% !important;
}
#rec-course1 div.bg-theme-primary {
  border-radius: 10px;
}

#rec-course3 div.row,
#rec-course4 div.row {
  background-color: var(--second-theme);
}
#rec-course3 .btn-icon__inner,
#rec-course4 .btn-icon__inner {
  font-weight: bold;
}
#rec-course3 .media-body a,
#rec-course4 .media-body a {
  color: #000000;
}
#rec-course3 .card-img-top,
#rec-course4 .card-img-top {
  max-height: 290px;
}

.counter {
  background-color: #f5f5f5;
  padding: 20px 0;
  border-radius: 5px;
}

.count-title {
  font-size: 40px;
  font-weight: normal;
  margin-top: 10px;
  margin-bottom: 0;
  text-align: center;
}

.count-text {
  font-size: 13px;
  font-weight: normal;
  margin-top: 10px;
  margin-bottom: 0;
  text-align: center;
}

div.course-block-zero {
  padding: 7em 0;
  text-align: center;
  border: 1px solid #eee;
  margin: 0.5em 1em;
}

.fa-2x {
  margin: 0 auto;
  float: none;
  display: table;
  color: var(--primary-theme);
}

div.card-footer h4 {
  font-size: 1rem;
}

div.card picture {
  width: 100%;
  display: block;
}
div.card picture img {
  width: 100%;
}

main.content-blog .card-deck .card {
  font-size: 1rem;
}
main.content-blog #searchActivities {
  cursor: pointer;
}

div.heading-subject-detail span.text-secondary {
  font-size: 0.9em;
}
div.heading-subject-detail .list-group {
  margin-left: 0;
}
div.heading-subject-detail .list-group .list-group-item {
  font-size: 0.9em;
}

.subject-detail .course-list {
  display: block;
  margin-bottom: 1rem;
  background-image: url("/images/course.svg");
  background-position: left center;
  background-size: 3.2em auto;
  background-repeat: no-repeat;
  height: 3em;
  overflow: hidden;
  padding-left: 3.5em;
}
.subject-detail .col-lg-6 div.row {
  font-size: 0.9em !important;
}
.subject-detail .col-lg-6 div.row h5 {
  font-size: 1em !important;
}
.subject-detail .user-avatar span {
  font-size: 0.7em;
}

.course-block-detail .card a.btn {
  border-radius: 2rem;
}

#mCSB_1_dragger_vertical {
  position: absolute;
  min-height: 50px;
  top: 0px;
  height: 0px;
}

.pdpa-condition {
  overflow-y: scroll;
  height: 50rem;
  margin-bottom: 3rem;
}
.pdpa-condition .list-group .list-group-item {
  font-size: 0.8em;
  border: none;
  padding: 0.425rem 1.25rem 0.425rem 1.95rem;
}
.pdpa-condition .list-group .list-group-item b {
  margin-left: -1rem;
}
.pdpa-condition .list-group .list-group-item ol {
  counter-reset: list;
  padding-left: 1.7rem;
}
.pdpa-condition .list-group .list-group-item ol > li {
  list-style: none;
}
.pdpa-condition .list-group .list-group-item ol > li:before {
  content: "(" counter(list) ") ";
  counter-increment: list;
}

.registration_successful {
  padding: 4em 0;
  margin: 3em 0;
}

#formRegister small,
#EditProfile small,
.password_slot small {
  font-size: 0.5em;
}

.profile_successful {
  padding: 3em 0;
  margin: 2em 0;
}

.password_slot {
  margin-top: 2em;
  padding-top: 1em;
  border-top: 1px solid #ccc;
}

.password_slot .form-group {
  width: 50%;
}

aside li a.active {
  color: #fff !important;
}
aside li a.active span {
  color: #00c9a7 !important;
}

footer div.border-0 {
  background-color: #2A2A2A;
}
footer div.border-0 h5 {
  letter-spacing: 2px !important;
}
footer address h4.h5 {
  font-size: 1.4rem;
}
footer address ul.list-group-flush > li.list-group-item {
  background: transparent;
  font-size: 1.2rem;
}

.lms-block .list-group .list-group-item {
  font-size: 0.8em;
}
.lms-block .classZeroRow {
  padding: 0;
  text-align: center;
  margin: 0.5em 1em;
  overflow: hidden;
  height: 0;
}
.lms-block .classZeroRowDisplay {
  overflow: visible;
  padding: 7em 0;
  height: auto;
  border: 1px solid #eee;
}
.lms-block li.list-group-item {
  background-color: transparent !important;
}

.breadcrumb-lms li > a:hover > span {
  color: #000 !important;
}

#printdatatable th,
#printdatatable td {
  font-size: 0.7em;
}
#printdatatable td.history_display {
  width: 45%;
}
#printdatatable td.log_display {
  width: 25%;
}

#TrainingForm div iframe {
  width: 100%;
  height: 10em;
}
#TrainingForm div img {
  max-width: 100%;
}
#TrainingForm div .attach-zone {
  position: relative;
}
#TrainingForm div .attach-zone button.deleted-btn {
  position: absolute;
  top: 0;
  font-size: 0.7em;
  padding: 0.5em 1em;
  margin-left: 1em;
}
#TrainingForm div .attach-zone .delete-status {
  /* Center the content */
  align-items: center;
  display: none;
  justify-content: center;
  /* Absolute position */
  left: 0px;
  position: absolute;
  top: 0px;
  /* Take full size */
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
#TrainingForm div .attach-zone .delete-status .delete-status-body {
  /* Text color */
  color: rgba(255, 255, 255, 0.8);
  /* Text styles */
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  /* Disable the selection */
  user-select: none;
}

.survey-row,
.survey-row-no-reult {
  display: none;
}

.news-list-box article .news-cover {
  aspect-ratio: 3/2;
}
.news-list-box article .no_news {
  padding: 5em 0;
  text-align: center;
  display: block;
}
.news-list-box article .fix-line {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}
.news-list-box a.page-link-primary-theme:hover {
  color: #fff;
}

#likeNews {
  cursor: pointer;
}

#ebookPage #stickyBlockStartPoint .media-body a:hover {
  color: var(--primary-theme);
}
#ebookPage a.page-link-primary-theme:hover {
  color: #fff;
}
#ebookPage .no_news {
  padding: 5em 0;
  text-align: center;
  display: block;
}

#Blogpage {
  font-size: 1rem;
}
#Blogpage article {
  font-size: 1rem;
}
#Blogpage article .h4 {
  font-size: 1rem;
  height: 120px;
}
#Blogpage article .media-body a:hover {
  color: #1e2022;
}
#Blogpage .no_block {
  padding: 5em 0;
  text-align: center;
  display: block;
}

.page_detail ol.breadcrumb li.breadcrumb-item a {
  color: rgba(0, 0, 0, 0.5);
}
.page_detail ol.breadcrumb li:last-child a {
  color: var(--primary-theme);
}

#exerciseDetails .card-body .small {
  font-size: 0.8em;
}
#exerciseDetails .card-collapse .card-inactive {
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
#exerciseDetails .exercise-nofound {
  text-align: center;
  padding: 5em 0;
}

#teacherDetails .card-deck {
  width: 100%;
}
#teacherDetails .teacher-nofound {
  text-align: center;
  padding-top: 5em;
  width: 100%;
}

#scoreDetails .text-secondary {
  font-size: 0.8em;
}
#scoreDetails .score-nofound {
  text-align: center;
  padding: 5em 0;
  width: 100%;
}

#historyDetails .lesson_duration {
  width: 20%;
}

#lesson-page .lesson-block .lesson_doc {
  border: none;
  width: 100%;
  height: 40rem;
}
#lesson-page .heading-subject-text {
  letter-spacing: 1px !important;
}
#lesson-page #basicsAccordion .list-group-item a {
  font-size: 0.9em;
  color: #000000;
}

.container-fullpage {
  min-height: 35rem;
}

#ldap-button {
  padding-top: 0.75rem;
  border-top: 1px solid #696969;
}

#ui-datepicker-div {
  font-size: 0.8rem;
}

.manual_cover {
  height: 180px;
  margin: 0 auto;
  display: block;
}

.can_register {
  cursor: not-allowed !important;
}

.top_link_menu {
  font-size: 1em;
}

input[name=g-recaptcha-response] {
  display: none;
}

.RegisterEndDate {
  position: absolute;
  bottom: 65px;
  right: 32px;
  color: red;
  font-size: 0.9em;
}

select#title_id_card {
  display: none;
}

select.display_title {
  width: 100px;
  display: inline-block !important;
}

input.display_title {
  width: calc(100% - 150px);
  margin-left: 25px;
  display: inline-block;
}

@media only screen and (max-width: 768px) {
  body {
    font-size: 1rem;
  }
  body .container {
    width: 90%;
  }
  body header div#logoAndNav {
    width: 100%;
  }
  body header div#logoAndNav a.u-header__navbar-brand {
    width: 80% !important;
  }
  body header div#logoAndNav a.u-header__navbar-brand img {
    width: 100% !important;
    height: auto;
  }
  main#content div.bg-white {
    padding-top: 1em !important;
  }
  main#content div.tab-content div.card-body h2 {
    font-size: 1rem;
  }
  main#content div.tab-content div.card-footer small span {
    font-size: 0.75rem;
  }
  main#content .u-sidebar {
    width: 100%;
  }
  .u-header__navbar-brand > img {
    width: auto !important;
    height: 3em;
  }
  .course-aside .u-avatar {
    width: 2.5em;
  }
  .course-aside a {
    font-size: 1rem;
  }
  .heading-subject-text {
    font-size: 1rem;
  }
  .course-block-detail a h2 {
    font-size: 1em;
  }
  #navBar li.mt-6 {
    margin-top: 1em !important;
  }
  .counter {
    position: relative;
    padding-left: 20%;
    padding-top: 0;
    padding-bottom: 1em;
    margin-bottom: 1em;
  }
  .counter .fa-2x {
    position: absolute;
    top: 1em;
    left: 1em;
  }
  .counter .count-title,
  .counter .count-text {
    margin-top: 0;
  }
}
.news_zone img {
  max-width: 100%;
}

.linecontact h6 {
  font-size: 0.9em;
  margin-bottom: 0;
  text-align: center;
}
.linecontact img {
  width: 70%;
  margin: 0 auto;
  display: block;
}
.linecontact p {
  font-size: 0.8em;
  text-align: center;
  margin-bottom: 0.3em;
}

.blog_column {
  padding-bottom: 1rem !important;
}
.blog_column p.fix-line-80 {
  height: 100px;
  overflow-y: hidden;
  margin-bottom: 1em !important;
}

@media (max-width: 768px) {
  .breadcrumb-lms li {
    width: 48%;
  }
  .breadcrumb-lms li a {
    width: 100%;
  }
  .lms-block .img-hover {
    padding-right: 15px !important;
  }
}
#exam_page .question_sortable {
  width: 90%;
}
#exam_page .question_sortable ul.sortable {
  width: 100%;
  padding-left: 0;
}
#exam_page li.ui-state-default {
  list-style: none;
  padding: 3px 1em;
  width: 100%;
  margin-bottom: 0.2em;
}

.warn_timeup {
  position: fixed;
  bottom: 2em;
  border-radius: 8px;
  border-top-color: var(--primary-theme);
  border-top-width: 5px;
  border-top-style: solid;
  border-bottom-color: #ddd;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-left-color: #ddd;
  border-left-width: 1px;
  border-left-style: solid;
  border-right-color: #ddd;
  border-right-width: 1px;
  border-right-style: solid;
  padding: 1em 4em;
  font-size: 0.7em;
  background-color: #fff;
  right: -30em;
  transition: right 1s;
}

.warn_timeup_display {
  right: 1em;
}

.timeupCover {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  width: 0;
  overflow: hidden;
}
.timeupCover div {
  display: none;
}

.timeupCover_active {
  right: 0;
  width: 100%;
  bottom: 0;
}
.timeupCover_active div {
  display: block;
  margin: 20% auto 0 auto;
  background-color: #fff;
  border-radius: 8px;
  width: 400px;
  text-align: center;
  padding: 4em 0;
}

div.aboutus-txt {
  padding-right: 30px;
  padding-left: 0;
}
div.aboutus-txt a {
  color: #fff;
  display: block;
  font-size: 1.3em;
}
div.aboutus-txt a:nth-child(2) {
  margin-top: 0.7em;
  margin-bottom: 0.7em;
}

div.aboutus-txt2 {
  color: #fff;
  font-weight: 400;
  font-size: 0.9em;
  margin-top: 0.7em;
}

div.container2 #rec-course6 {
  margin: 0 -15px;
}

.text-dark-primary-theme {
  color: var(--dark-primary-theme);
}

.ads {
  padding-top: 70px;
}
.ads .ads-title h6 {
  font-size: 1.2em;
  font-weight: 700;
  color: var(--dark-primary-theme);
}
.ads .ads-title p {
  margin-top: 75px;
}
.ads .ads-title button {
  margin-top: 65px;
  background-color: var(--primary-theme);
  border-color: var(--primary-theme);
  color: #fff;
}
.ads .ads-image {
  background-image: url("/images/mascot-img.png");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: auto 100%;
  min-height: 725px;
}

div.min-zone h6 {
  font-size: 1.2em;
  font-weight: 700;
  color: var(--dark-primary-theme);
  display: block;
  margin: 1.5em 0 1em 0;
}
div.min-zone .min-zone-block > div {
  position: relative;
}
div.min-zone .min-zone-block > div img {
  width: 100%;
  margin-bottom: 0.3em;
}
div.min-zone .min-zone-block > div span {
  position: absolute;
  text-align: center;
  width: calc(100% - 2em);
  top: 0.4em;
  left: 1em;
  right: 1em;
  color: #fff;
  font-size: 1.1em;
}
div.min-zone .min-zone-block > div div {
  color: var(--dark-primary-theme);
  font-size: 0.9em;
  text-align: center;
}

.course-btn > a {
  width: 80%;
  margin-bottom: 1.2rem;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  cursor: pointer;
  font-weight: 500;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.75rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3125rem;
  transition: all 0.2s ease-in-out;
}
.course-btn > a:nth-child(1) {
  background-color: #42210b;
  color: #fff;
}
.course-btn > a:nth-child(2) {
  background-color: #fdbd00;
  color: #231f20;
}

@media (max-width: 768px) {
  div.min-zone .min-zone-block > div {
    margin-bottom: 1em;
  }
  div.min-zone .min-zone-block > div span {
    top: 3%;
    font-size: 1.2em;
  }
}
#payment_option img.qr_payment {
  width: 80%;
  margin: 0 auto;
  display: block;
}
#payment_option .form_payment_attach {
  margin-top: 1em;
}
#payment_option .form_payment_attach input#attach {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

/*# sourceMappingURL=style.css.map */
