        <footer style="background-color: #BBE3EF;">
            <div style="padding: 1em 0; margin: 0 auto;">
                                <div style="float: left; margin-left: 1em;">
                                    <a href="https://www.nacc.go.th/" target="_blank">
                                        <img src="https://aced.nacc.go.th/images/logo.png" style="height: 120px;">
                                    </a>
                                </div>  
                                <div style="float: right;  padding-right: 1em;">
                                   <h6 style="font-size: 16px; font-weight: bold; margin: 0;"> ติดต่อเรา</h6>
                                    <p style="font-size: 14px;">เลขที่ 361 ถ.นนทบุรี ต.ท่าทราย อ.เมืองนนทบุรี จ.นนทบุรี 11000</p>
                                    <p style="font-size: 14px;">platform.nacc@gmail.com</p>
                                    <p style="font-size: 14px;">02-528-4800 ต่อ 7114</p>
                                </div>      
                <div style="clear: both; width: 0; height: 0;"></div>
            </div>
            <div style="background-color: #17a2b8; padding: 1em 0; text-align: center;" >
                <span style="color: #fff;">สงวนลิขสิทธิ์ 2565 สำนักงานคณะกรรมการป้องกันและปราบปรามการทุจริตแห่งชาติ</span>
            </div>
            </footer>