<header>
                <div style="float: left; margin-left: 1em;">
                    <a href="https://aced.nacc.go.th">
                        <img src="https://aced.nacc.go.th/images/logo-2.png" style="height: 100px;">
                    </a>
                </div>  
                <div style="float: left; margin-left: 1em; font-size: 32px; padding-top: 12px;">
                    ต้านทุจริตศึกษา <br/> Anti-corruption Education
                </div>  
                <div style="clear: both; width: 0; height: 0;"></div>
</header>