<footer class="text-muted">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-7 col-xl-8 col-sm-12">
          <div class="org-logo" title="คณะกรรมการป้องกันและปราบปรามการทุจริตแห่งชาติ">
            <p>สำนักคณะกรรมการป้องกันและปราบปรามการทุจริตแห่งชาติ</p>
            <p>Office of the National Anti-Corruption Commission (ONACC)</p>
          </div>
        </div>
        <address class="col-md-5 col-xl-2 col-sm-12">
          <p>เลขที่ 361 ถ.นนทบุรี ต.ท่าทราย อ.เมืองนนทบุรี จ.นนทบุรี 11000</p>
          <a href="mailto:platform.nacc@gmail.com">platform.nacc@gmail.com</a>
        </address>
        <div class="col-md-1 me-1 col-sm-12 qa">
          <picture>
            <source srcset="/images/home/mascot.webp" type="image/webp">
            <source srcset="/images/home/mascot.png" type="image/png">
            <img src="/images/home/mascot.webp" alt="">
          </picture>
        </div>
      </div>
    </div>
    <div class="container-fluid copyright">
      <div class="row">
        <div class="col-md-12">สำนักคณะกรรมการป้องกันและปราบปรามการทุจริตแห่งชาติ</div>
      </div>
    </div>
  </footer>


  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js" integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script><script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.1/js/bootstrap.min.js" integrity="sha512-fHY2UiQlipUq0dEabSM4s+phmn+bcxSYzXP4vAXItBvBHU7zAM/mkhCZjtBEIJexhOMzZbgFlPLuErlJF2b+0g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="/javascripts/home/zabuto_calendar.min.js"></script>
  <script src="/javascripts/home/script.js"></script>