<header>
    <nav class="navbar navbar-expand-md navbar-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <picture>
            <source srcset="/images/home/logo.webp" type="image/webp">
            <source srcset="/images/home/logo.png" type="image/png">
            <img src="image/home/logo.webp" id="mainlogo" alt="">
          </picture>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
          aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mb-2 mb-md-0">

            <li class="nav-item d-sm-none">
              <a class="nav-link" href="#news">ข่าวประชาสัมพันธ์</a>
            </li>
            <li class="nav-item d-sm-none">
              <a class="nav-link" href="#calendar">ปฎิทินกิจกรรม</a>
            </li>
            <li class="nav-item d-sm-none">
              <a class="nav-link" href="#link">ลิงค์หน้าสนใจ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="#">ติดต่อเรา</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">คู่มือแนะนำ</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="nav-scroller-main displayDesktop">
      <div class="nav-scroller py-1 container">
        <nav class="nav d-flex justify-content-between">
          <a class="p-2 link-secondary" href="#news">ข่าวประชาสัมพันธ์</a>
          <a class="p-2 link-secondary" href="#calendar">ปฎิทินกิจกรรม</a>
          <a class="p-2 link-secondary" href="#link">ลิงค์หน้าสนใจ</a>
        </nav>
      </div>
    </div>
  </header>
  <section id="banner">
    <picture></picture>
  </section>