<!DOCTYPE html>
<html lang="th">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ขอบคุณสำหรับการลงทะเบียน</title>
    <style>
        body: {
            color: black;
        }
    </style>
</head>
<body>
    <div style="border: 1px solid white;  width: 100%">
        <div style="padding:10px 30px 30px 30px; background: transparent linear-gradient(180deg, #fff 0%, #e5f0f3 100%) 0% 0% no-repeat padding-box;">          
            {{>header}}
            <p style="font-family: Verdana;  font-size: 18px ;">สวัสดีคุณ {{ name }}</p>
   
            <p style="font-weight: 100; font-size: 16px ; line-height: 37px;  font-family: Verdana; color: #1C1E3A; font-family: Verdana;">ขอขอบพระคุณที่สนใจในระบบของเรา. คลิ๊กที่ลิงค์ข้างล่างเพื่อเปิดใช้งาน</p>            <br>
            <p style="font-family: Verdana;">Hi,</p>
            <p style="font-weight: 100; font-size: 16px ; line-height: 37px;  font-family: Verdana; color: #1C1E3A; font-family: Verdana;">Thanks for registering the MyApp. Please pass below the OTP to valid you email address.</p>
            <br>
            <a href="{{ url }}">{{ url }}</a>
            <br>
            <br>
        </div>
        {{>footer}}        
    </div>
</body>
</html>

