<footer class="mt-4">
    <a data-toggle="modal" href="#modal-contactus" class="contact d-none">
        <span class="d-block d-sm-block d-md-none"><i class="fa fa-hand-o-right" aria-hidden="true"></i>
            แจ้งปัญหาการใช้งาน</span>
    </a>
    <!-- Copyright -->
    <div class="border-0 bg-theme-primary">
        <div class="container py-3 text-center">
            <div class="row d-flex justify-content-sm-between">
                <div class="col-sm-12 mb-sm-0">
                    <h5 class="small text-white mb-0 " style="letter-spacing: 2px !important;">สงวนลิขสิทธิ์
                        โดยสำนักงานคณะกรรมการป้องกันและปราบปรามการทุจริตแห่งชาติ </h5>
                </div>

            </div>
        </div>
    </div>
    <!-- End Copyright -->
</footer>